Repository selfdefined/web-app, pull requests merged in 2020-09, with the labels that each got.

#306 🌐 Add French definition for "plural"
  11ty/definitions/fr_FR/pluriel.md
  11ty/definitions/plural.md
Labels: Language · fr_FR, Type · Definitions, Type · Translations

#305 🌐 Add French definition for "biromantic"
  11ty/definitions/biromantic.md
  11ty/definitions/fr_FR/biromantique.md
Labels: Language · fr_FR, Type · Definitions, Type · Translations

#304 🌐 Add French definition for "transfeminine"
  11ty/definitions/fr_FR/transfeminine.md
  11ty/definitions/transfeminine.md
Labels: Language · fr_FR, Type · Definitions, Type · Translations

#303 🌐 Add French definition for "bisexual"
  11ty/definitions/bisexual.md
  11ty/definitions/fr_FR/bisexuel.md
  11ty/definitions/nl_NL/biseksueel.md
Labels: Language · fr_FR, Type · Definitions, Type · Translations

#302 🌐 Add French definition for "monoculture"
  11ty/definitions/fr_FR/monoculture.md
  11ty/definitions/monoculture.md
Labels: Language · fr_FR, Type · Definitions, Type · Translations

#301 🌐 Add French definition for "non-binary"
  11ty/definitions/fr_FR/non-binaire.md
  11ty/definitions/non-binary.md
Labels: Language · fr_FR, Type · Definitions, Type · Translations

#300 🌐 Add French definition for "pansexual"
  11ty/definitions/fr_FR/pansexuel.md
  11ty/definitions/pansexual.md
Labels: Language · fr_FR, Type · Definitions, Type · Translations

#299 🌐 Add French definition for "transgender"
  11ty/definitions/fr_FR/cisgenre.md
  11ty/definitions/fr_FR/transgenre.md
  11ty/definitions/transgender.md
Labels: Language · fr_FR, Type · Definitions, Type · Translations

#296 🌐 Add French definition for "gender pronouns"
  11ty/definitions/fr_FR/pronoms-genres.md
  11ty/definitions/gender-pronouns.md
Labels: Language · fr_FR, Status · Needs Submitter Info, Type · Definitions, Type · Translations

#298 🌐 Add French definition for "unreal"
  11ty/definitions/fr_FR/irreel.md
  11ty/definitions/unreal.md
Labels: Language · fr_FR, Type · Definitions, Type · Translations

#297 🌐 Add French definition for "women and people of colour"
  11ty/definitions/fr_FR/femmes-et-personnes-de-couleur.md
  11ty/definitions/women-and-people-of-colour.md
Labels: Language · fr_FR, Type · Definitions, Type · Translations

#266 add definition of junkie
  11ty/definitions/junkie.md
  package-lock.json
Labels: Status · Needs Submitter Info, Type · Definitions

#267 Definition for nerd
  11ty/definitions/blerd.md
  11ty/definitions/nerd.md
Labels: Status · Needs Submitter Info, Type · Definitions

#314 ✏️ Edits bi-erasure
  11ty/definitions/bi-erasure.md
  11ty/definitions/bierasure.md
Labels: Status · Needs Review, Type · Definitions
