Repository selfdefined/web-app, pull requests merged in 2020-11, with the labels that each got.

#343 add definition for colonialism
  11ty/definitions/colonialism.md
Labels: Status · Needs Submitter Info

#251 🌐 Add 'third-world country'
  11ty/definitions/third-world-country.md
Labels: Status · Needs Submitter Info, Type · Definitions

#308 Add definition for blacklist/whitelist, fix styling of blockquotes
  11ty/definitions/blacklist-whitelist.md
  assets/css/structures/_definition-content.scss
Labels: Status · In Progress, Type · Definitions

#259 Propose new definition for Guys.
  11ty/definitions/guys.md
Labels: Status · Needs Submitter Info, Type · Definitions

#361 feat: adds colorblind definition
  11ty/definitions/colorblind.md
Labels: Status · Needs Submitter Info
