Repository selfdefined/web-app, pull requests merged in 2020-08, with the labels that each got.

#227 Add new front matter element: excerpt
  11ty/_includes/layouts/base.njk
  11ty/definitions/-misia.md
  11ty/definitions/ableism.md
  11ty/definitions/barbaric.md
  11ty/documentation/examples/basic.md
  11ty/documentation/examples/flagged-word.md
  11ty/documentation/front-matter.md
Labels: Status · In Progress

#210 🌓 Dark Mode
  .browserslistrc
  .eleventy.js
  .postcssrc
  11ty/_data/site.js
  11ty/_includes/components/base/site-footer.njk
  11ty/_includes/layouts/base.njk
  11ty/assets/js/theme-switcher.js
  11ty/shortcodes/__tests__/renderDefinitionContentNextEntries.spec.js
  11ty/shortcodes/renderDefinitionContentNextEntries.js
  assets/css/_sass/_colours.scss
  assets/css/abstracts/_colours.scss
  assets/css/abstracts/_variables.scss
  assets/css/base.scss
  assets/css/base/_a.scss
  assets/css/base/_base.scss
  assets/css/base/_code.scss
  assets/css/base/_custom-properties.scss
  assets/css/base/_radio-buttons.scss
  assets/css/base/_selection.scss
  assets/css/base/_typography.scss
  assets/css/components/_alertbox.scss
  assets/css/components/_box.scss
  assets/css/components/_definitions.scss
  assets/css/components/_flag.scss
  assets/css/components/_word.scss
  assets/css/structures/_definition-content.scss
  assets/css/structures/_definition-navigation.scss
  assets/css/structures/_footer.scss
  assets/css/structures/_grid.scss
  package-lock.json
  package.json
Labels: Status · Needs Review, Type · Feature Request, Type · Frontend

#272 Define Monoculture
  11ty/definitions/monoculture.md
Labels: Status · Needs Info, Type · Definitions

#273 Includes missing repository link on development documentation.
  11ty/documentation/development.md
Labels: Status · Needs Info, Type · Documentation

#262 Add excerpts for currently defined words
  11ty/definitions/asian-american.md
  11ty/definitions/bierasure.md
  11ty/definitions/biromantic.md
  11ty/definitions/bisexual.md
  11ty/definitions/cisgender.md
  11ty/definitions/crazy.md
  11ty/definitions/derpy.md
  11ty/definitions/digital-blackface.md
  11ty/definitions/dude.md
  11ty/definitions/dumb.md
  11ty/definitions/east-asian.md
  11ty/definitions/english-as-second-language.md
  11ty/definitions/fatphobia.md
  11ty/definitions/gaslighting.md
  11ty/definitions/gender-pronouns.md
  11ty/definitions/hispanic.md
  11ty/definitions/hysterical.md
  11ty/definitions/latino.md
  11ty/definitions/latinx.md
  11ty/definitions/mansplain.md
  11ty/definitions/minorities.md
  11ty/definitions/minoritised.md
  11ty/definitions/neopronouns.md
  11ty/definitions/non-binary.md
  11ty/definitions/obsessive-compulsive-disorder.md
  11ty/definitions/ok-hand.md
  11ty/definitions/oriental.md
  11ty/definitions/overrepresented-majority.md
  11ty/definitions/pansexual.md
  11ty/definitions/performative-allyship.md
  11ty/definitions/polyamory.md
  11ty/definitions/pow-wow.md
  11ty/definitions/preferred-pronoun.md
  11ty/definitions/pronouns.md
  11ty/definitions/r-word.md
  11ty/definitions/sane.md
  11ty/definitions/sanity-check.md
  11ty/definitions/savage.md
  11ty/definitions/south-asian.md
  11ty/definitions/southeast-asian.md
  11ty/definitions/spaz.md
  11ty/definitions/suicide.md
  11ty/definitions/tone-deaf.md
  11ty/definitions/transfeminine.md
  11ty/definitions/transgender.md
  11ty/definitions/underrepresented-minority.md
  11ty/definitions/unreal.md
  11ty/definitions/white-feminism.md
  11ty/definitions/white-fragility.md
  11ty/definitions/women-and-people-of-colour.md
Labels: Status · Needs Review, Type · Definitions
