Repository selfdefined/web-app, pull requests merged in 2020-05, with the labels that each got.

#110 Opencollective opencollective
  11ty/definitions/asian-american.md
  11ty/definitions/asian.md
  11ty/definitions/east-asian.md
  11ty/definitions/oriental.md
  11ty/definitions/south-asian.md
  11ty/definitions/southeast-asian.md
Labels: Resolution · Duplicate

#112 ➕ Add definition for tone-deaf
  11ty/definitions/-misia.md
  11ty/definitions/fatphobia.md
  11ty/definitions/minoritised.md
  11ty/definitions/tone-deaf.md
Labels: Type · Definitions

#116 ➕ Add definition for overrepresented majority, underrepresented minority
  11ty/definitions/minorities.md
  11ty/definitions/overrepresented-majority.md
  11ty/definitions/underrepresented-minority.md
Labels: Type · Definitions

#111 ➕ Add -misia, updates fatphobia
  11ty/definitions/-misia.md
Labels: Type · Definitions

#87 Translations / nl_NL
  11ty/definitions/nl_NL/biseksueel.md
Labels: Language · nl_NL, Status · Needs Review, Type · Translations

#119 ➕ Adds sanity check
  11ty/definitions/crazy.md
  11ty/definitions/dumb.md
  11ty/definitions/insane.md
  11ty/definitions/minorities.md
  11ty/definitions/minoritised.md
  11ty/definitions/obsessive-compulsive-disorder.md
  11ty/definitions/overrepresented-majority.md
  11ty/definitions/pronouns.md
  11ty/definitions/sane.md
  11ty/definitions/sanity-check.md
  11ty/definitions/spaz.md
  11ty/definitions/tone-deaf.md
  11ty/definitions/totemic-animal.md
  11ty/definitions/tribe.md
  11ty/definitions/triggers.md
  11ty/definitions/underrepresented-minority.md
  11ty/documentation/examples/flagged-word.md
Labels: Status · In Progress, Type · Definitions

#132 Add definition for 'transfeminine'
  11ty/definitions/trans.md
  11ty/definitions/transfeminine.md
Labels: Type · Writing, Type · Definitions

#81 Translations/fr fr
  11ty/definitions/fr-FR/capacitisme.md
  11ty/definitions/fr-FR/cisgenre.md
  11ty/definitions/fr-FR/fragilite-blanche.md
  11ty/definitions/fr-FR/gaslighting.md
  11ty/definitions/fr-FR/signe-ok.md
  assets/css/_sass/_colours.scss
Labels: Language · fr_FR, Status · Needs Review, Type · Translations

#150 Propose definition for 'mansplaining'
  11ty/definitions/mansplaining.md
Labels: Type · Writing, Type · Definitions

#173 Add "social and career suicide" note to suicide definition
  11ty/definitions/suicide.md
Labels: Type · Writing, Type · Definitions

#172 🏡 Updates Packages
  package-lock.json
  package.json
Labels: dependencies
